.bg {
    // background-image: url('./wallpaper.png');
    // background-repeat: no-repeat;
    // background-position: center;
    
    @keyframes move {
        
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 5000px -5000px, 10000px -20000px, -10000px -15000px;
        }
    }
    
    animation: move 2000s linear 0s infinite normal none;
    transform: translateZ(0);
    -webkit-animation: move 2000s linear infinite;
    -webkit-transform: translateZ(0);

    background-color: rgb(245, 245, 245);
    // background-color: lightBlue;
    background-image: url("./assets/images/vasilis1.png"), url("./assets/images/vasilis2.png"), url("./assets/images/vasilis3.png");
    
    position: absolute;
    opacity: .8;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    position: relative;
    z-index: 1;
}

.intro-wrap {

    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    
    top: 25vh;
    // justify-content: center;
    padding: 1.2em;
    
    

    h1 {
        padding-top: 1.5em;
        color: black;
        opacity: .95;
        font-family: 'Dela Gothic One';
        font-weight: lighter;
        font-style: italic;
        font-size: 2.5em;
    }

    p {
        font-family: 'Dela Gothic One';
        text-align: center;
        font-size: .9rem;
}
    a {
    text-decoration: none;
}
}

.content {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.descr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    max-height: 20em;
    border-radius: 5px;
    border: black 2px solid;
    box-shadow: 10px 10px 0px rgba(157,144,252, .8);
}


.inner {

    padding: 20px;
    h2 {
        overflow: hidden;
        font-weight: lighter;
        font-family: 'Dela Gothic One';
        font-style: italic;
        font-size: 1.8rem;
        text-align: block;
        // letter-spacing: .05em;
        // word-spacing: .2em;
        -webkit-text-stroke: .75px black;
        -webkit-text-fill-color: white;
    }
}

.grow{
    flex-basis: 75%;
}


@media (min-width: 500px) {
    .bg {
        background-size: 250px, 250px, 250px;
    }

    .intro-wrap {
        padding: 1.2em 1.2em 4em 4em ;
        max-width: 70%;
        align-items: flex-start;
        top: 20vh;
        
        
        h1{
            font-size: 4rem
        }
    }

    .content {
        flex-direction: row;
    }

    .inner{
        width: 50vw;
        padding: 4em;
         h2{
             font-size: 2.2rem;
             padding: 2em;
             word-spacing: .3em;
         }
    }

}



