.bg {
    // background-image: url('./wallpaper.png');
    // background-repeat: no-repeat;
    // background-position: center;
    
    @keyframes move {
        
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 5000px -5000px, 10000px -20000px, -10000px -15000px;
        }
    }

    animation: move 2000s linear 0s infinite normal none;

    background-color: #9d90fc;
    background-image: url("./assets/images/vasilis1.png"), url("./assets/images/vasilis2.png"), url("./assets/images/vasilis3.png");
    position: absolute;
    
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    

    display: flex;
    justify-content: space-around;
    align-items: center;

    .circle {
        margin-top: 50px;
        background-color: black;
        border: solid rgb(248, 223, 0) 5px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        opacity: .2;
        box-sizing: border-box;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    position: relative;
    z-index: 1;
}

.intro {
    margin-top: 35px;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: white;
        font-family: 'Abril Fatface';
        font-weight: normal;
        margin: -7px;
    }

    p {
        font-family: 'Abril Fatface';
        text-align: center;
        font-size: .9rem;
}
    a {
    text-decoration: none;
}
}


.inner {
    padding: 20px;
    

    h2 {
        
        overflow: hidden;
        font-weight: lighter;
        font-family: 'Libre Caslon Display', serif;
        font-size: 1.8rem;
        letter-spacing: 1.5px;
    }

}

@media (min-width: 500px) {
    .bg {
    }

    .inner{
        width: 50vw;
    }
}



