*{
    box-sizing: border-box;
}

.container {
    padding-top: 9em;
    .inner {
        padding: 15px;
    }
    min-height: 100vh;
    padding-bottom: 32px;
    margin-bottom: -32px;
}

.intro {
        
    h1{
        text-align: center;
        text-decoration: underline;
        font-family: 'Bebas Neue';
        letter-spacing: 8px;
        margin: 0;
    }
    p{
        text-align: center;
        font-family: 'Bebas Neue';
        letter-spacing: 1.3px;
    }
}

.type-fix {
    min-height: 100px;
}



.posts {
    list-style: none;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.full-card{
    margin: 30px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    height: 420px;

    -webkit-box-shadow: 0 6px 6px -6px #777;
    -moz-box-shadow: 0 6px 6px -6px #777;
         box-shadow: 0 6px 6px -6px #777;
}
.post-details{
    color: #000000;
    display: block;
    padding: 0 .5rem;
    position: absolute;
    width: 100%;
    
    

    

h2 {
    margin: 0;
    
}

p {
    color: #777777;
    font-size: .8rem;
    font-style: italic;
    margin: 0;
}

}

.post {
    // margin: 1rem 0;
    width: 255px;
    height: 320px;
    background-color: #f4f4f4;
    background-size: cover;
    background-position: center;

    // padding: 15px;
    // border: 1px solid black;
    // border-radius: 5px;

}