*{
    
    text-decoration: none;
}

@keyframes floatOne {
	0% {
		text-shadow: 5px 15px 0px rgba(157,144,252, 1);
		transform: translatey(0px);
	}
	50% {
		text-shadow: 25px 15px 0px  rgba(157,144,252, .7);
		transform: translatey(10px);
	}
	100% {
		text-shadow: 5px 15px 0px rgba(157,144,252, 1);
		transform: translatey(0px);
	}
}
@keyframes floatTwo {
	0% {
		text-shadow: 5px 15px 0px rgba(42,127,85, 1);
		transform: translatey(-5px);
	}
	50% {
		text-shadow: 25px 15px 0px rgba(42,127,85, .4);
		transform: translatey(-30px);
	}
	100% {
		text-shadow: 5px 15px 0px rgba(42,127,85, 1);
		transform: translatey(-5px);
	}
}
@keyframes floatThree {
	0% {
		text-shadow: 5px 15px 0px rgba(251,104,58, 1);
		transform: translatey(0px);
	}
	50% {
		text-shadow: 25px 15px 0px rgba(251,104,58, .7);
		transform: translatey(-15px);
	}
	100% {
		text-shadow: 5px 15px 0px rgba(251,104,58, 1);
		transform: translatey(0px);
	}
}
@keyframes floatFour {
	0% {
		text-shadow: 5px 15px 0px rgba(224,124,155, 1);
		transform: translatey(0px);
	}
	50% {
		text-shadow: 25px 15px 0px rgba(224,124,155, .7);
		transform: translatey(10px);
	}
	100% {
		text-shadow: 5px 15px 0px rgba(224,124,155, 1);
		transform: translatey(0px);
	}
}

    

@keyframes floatCard {
	0% {
		box-shadow: 10px 10px 0px rgba(157,144,252, 1);
        transform: translatey(0px) translatex(0px);
	}
	50% {
		box-shadow: 0px 0px 0px rgba(157,144,252, .7);
        transform: translatey(10px) translatex(10px);
	}
	100% {
		box-shadow: 10px 10px 0px rgba(157,144,252, 1);
        transform: translatey(0px) translatex(0px);
	}
}

@keyframes floatCardScnd {
	0% {
		box-shadow: 10px 10px 0px rgba(42,127,85, 1);
        transform: translatey(0px) translatex(0px);
	}
	50% {
		box-shadow: 0px 0px 0px rgba(42,127,85, .7);
        transform: translatey(10px) translatex(10px);
	}
	100% {
		box-shadow: 10px 10px 0px rgba(42,127,85, 1);
        transform: translatey(0px) translatex(0px);
	}
}

@keyframes floatCardThrd {
	0% {
		box-shadow: 10px 10px 0px rgba(251,104,58, 1);
        transform: translatey(0px) translatex(0px);
	}
	50% {
		box-shadow: 0px 0px 0px rgba(251,104,58, .7);
        transform: translatey(10px) translatex(10px);
	}
	100% {
		box-shadow: 10px 10px 0px rgba(251,104,58, 1);
        transform: translatey(0px) translatex(0px);
	}
}

@keyframes floatCardFrth {
	0% {
		box-shadow: 10px 10px 0px rgba(224,124,155, 1);
        transform: translatey(0px) translatex(0px);
	}
	50% {
		box-shadow: 0px 0px 0px rgba(224,124,155, .7);
        transform: translatey(10px) translatex(10px);
	}
	100% {
		box-shadow: 10px 10px 0px rgba(224,124,155, 1);
        transform: translatey(0px) translatex(0px);
	}
}


.container {
    padding-top: 6em;
    .inner {
        // padding: 15px;
        // padding-top: 0;
    }
    min-height: 100vh;
    padding-bottom: 32px;
    margin-bottom: -32px;
}

.intro-headline{
    font-size: 4em;
    font-family: 'Dela Gothic One';
    letter-spacing: .2em;
    text-align: center;
    margin: 1em 0 .9em;
    width: 100%;
    height: fit-content;
    -webkit-text-stroke: 2px rgb(34, 34, 34);
    -webkit-text-fill-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // text-shadow:
    //     3px 3px 0 #000,
    //     -1px -1px 0 #000,  
    //     1px -1px 0 #000,
    //     -1px 1px 0 #000,
    //     1px 1px 0 #000;

    //     transform: translatey(0px);
    //     animation: float 6s ease-in-out infinite;
    
    .W{
        transform: translatey(0px);
        animation: floatOne 6s ease-in-out infinite;
    }
    .O{
        transform: translatey(0px);
        animation: floatTwo 6s ease-in-out infinite;
    }
    .R{
        transform: translatey(0px);
        animation: floatThree 6s ease-in-out infinite;
    }
    .K{
        transform: translatey(0px);
        animation: floatFour 6s ease-in-out infinite;
    }
}

.intro {
        position: relative;
    p{
        position: relative;
        z-index: 100;
        // hyphens: auto;
        font-family: 'Dela Gothic One';
        text-align: justify center;
        // letter-spacing: .4em;
        // word-spacing: .6em;
        color: rgb(34, 34, 34);
        margin: 0;
        padding: 0;
        // -webkit-text-stroke: .75px rgb(34, 34, 34);
        -webkit-text-fill-color: black;
        // letter-spacing: 2px;
        // word-spacing: .4em;
    }
        padding: 0 1em 2em;
}

.intro-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('./assets/images/pattern-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}

// .type-fix {
//     min-height: 300px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.post-wrap{
    width: 100%;
    padding: 0 50px;

}

.posts {
    list-style: none;
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid white;
    box-sizing: border-box;
    background-size: cover;
    position: relative;
    margin: 0 0 5em;
}

.full-card{
    margin: 30px;
    padding: 15px;
    // border: 1px solid white;
    // background-color: white;
    // border: 1px solid black;
    position: relative;
    background-color: white;
    border-radius: 5px;
    border: black 2px solid;


    transform: translatey(0px) translateX(0px);
    animation: floatCard 7s ease-in-out infinite;
}

.full-card:nth-child(2n + 2){
    transform: translatey(0px) translateX(0px);
    animation: floatCardScnd 5s ease-in-out infinite;
}

.full-card:nth-child(3n+3){
    transform: translatey(0px) translateX(0px);
    animation: floatCardThrd 6s ease-in-out infinite;
}

.full-card:nth-child(4n+4){
    transform: translatey(0px) translateX(0px);
    animation: floatCardFrth 5s ease-in-out infinite;
}

.fullcard-bg {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    
}

.full-card:hover{
    // position: relative;
    // transform: translateX(1px) translateY(1px);

    // -webkit-box-shadow: 0 0 0 0 ;
    // -moz-box-shadow: 0 0 0 0 ;
    //      box-shadow: 0 0 0 0 ;


    // -webkit-box-shadow: inset 3px 3px 0 0 rgb(199, 228, 197);
    // -moz-box-shadow: inset 3px 3px 0 0 rgb(199, 228, 197);
    // box-shadow: inset 3px 3px 0 0 rgb(199, 228, 197);


    // border-bottom: 1px solid black;
    // border-right: 1px solid black;
    // border-left: none;
    // border-top: none;

    }
.post-details{
    margin-top: 1em;
    padding: 0 .5rem;
    width: 100%;
    position: relative;
    z-index: 666;
h2 {
    margin: 0;
    text-align: end;
    color:black;
    font-family: 'Bebas Neue';
    font-weight: normal;
    letter-spacing: .2em;
    text-align: center;
}
p {
    color: black;
    font-size: .8rem;
    font-style: italic;
    margin: 0;
}
}
.post {
    // margin: 1rem 0;
    border-radius: 5px;
    border: white 1px solid;
    width: 255px;
    height: 320px;
    background-size: auto 320px;
    position: relative;

    // padding: 15px;
    // border: 1px solid black;
    // border-radius: 5px;
}
// .post-filter {
//     background-color: rgba(156, 144, 252, 0.199);
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }

@media(min-width: 500px){
    .posts{
        flex-direction: row;
        flex-wrap: wrap;
        // background-color: #f4f7f6;
    }
    .container {
        min-height: 100vh;
        padding-bottom: 36px;
        margin-bottom: -36px;
    }
    .intro-headline{
        font-size: 8em;
        margin: .7em 0 .3em;
    }
    .intro{
        margin-top: 100px;
        padding: 0 3em 4em;
        p {
            text-align: center;
            font-size: 2em;
            line-height: 1.15;
            font-style: italic;
        }
    }
}

@media(min-width: 900px ){
    .intro{
        padding: 0 6em 5em;
    }
}