*{
    
    text-decoration: none;
}


.container {
    padding-top: 6em;
    .inner {
        padding: 15px;
        // padding-top: 0;
    }
    min-height: 100vh;
    padding-bottom: 32px;
    margin-bottom: -32px;
}

.intro-headline{
    font-size: 5em;
    font-family: 'Bebas Neue';
    letter-spacing: .4em;
    color: rgb(34, 34, 34);
    text-align: center;
    margin: 1.1em 0;

    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.intro {
        position: relative;
    p{
        position: relative;
        z-index: 100;
        text-align: center;
        // text-align: end;
        font-family: 'Bebas Neue';
        letter-spacing: .2em;
        color: white;
        margin: 0;
    }
        margin: 1em;
        padding: 2em;
}

.intro-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('./assets/images/pattern-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}

.type-fix {
    min-height: 300px;
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-wrap{
    width: 100%;
    padding: 0 50px;

}

.posts {
    list-style: none;
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid white;
    box-sizing: border-box;
    
    background-size: cover;
    position: relative;
}

.full-card{
    margin: 30px;
    padding: 15px;
    // border: 1px solid white;
    // background-color: white;
    // border: 1px solid black;
    position: relative;
    background-color: white;
    border-radius: 5px;
    border: black 2px solid;
    box-shadow: 10px 5px 5px black;
}

.fullcard-bg {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    
}

.full-card:hover{
    // position: relative;
    // transform: translateX(1px) translateY(1px);

    // -webkit-box-shadow: 0 0 0 0 ;
    // -moz-box-shadow: 0 0 0 0 ;
    //      box-shadow: 0 0 0 0 ;


    // -webkit-box-shadow: inset 3px 3px 0 0 rgb(199, 228, 197);
    // -moz-box-shadow: inset 3px 3px 0 0 rgb(199, 228, 197);
    // box-shadow: inset 3px 3px 0 0 rgb(199, 228, 197);


    // border-bottom: 1px solid black;
    // border-right: 1px solid black;
    // border-left: none;
    // border-top: none;

    }
.post-details{
    margin-top: 1em;
    padding: 0 .5rem;
    width: 100%;
    position: relative;
    z-index: 666;
h2 {
    margin: 0;
    text-align: end;
    color:black;
    font-family: 'Bebas Neue';
    font-weight: normal;
    letter-spacing: .2em;
    text-align: center;
}
p {
    color: black;
    font-size: .8rem;
    font-style: italic;
    margin: 0;
}
}
.post {
    // margin: 1rem 0;
    border-radius: 5px;
    border: white 1px solid;
    width: 255px;
    height: 320px;
    background-size: auto 320px;
    position: relative;

    // padding: 15px;
    // border: 1px solid black;
    // border-radius: 5px;
}
// .post-filter {
//     background-color: rgba(156, 144, 252, 0.199);
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }

@media(min-width: 500px){
    .posts{
        flex-direction: row;
        flex-wrap: wrap;
        // background-color: #f4f7f6;
    }
    .container {
        min-height: 100vh;
        padding-bottom: 36px;
        margin-bottom: -36px;
    }
    .intro{
        margin: 3em 0;
        padding: 6em 3em;
    }
    .intro-headline{
        font-size: 8em;
        margin: .5em 0;
    }
}

@media(min-width: 900px ){
    .type-fix{
        min-height: 150px;
    }
}