.footer {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    p{
        margin: 0
    }
}

.copy-right {
    font-size: .6rem;
}

.links {
    columns: 2;
    text-align: start;
    :first-of-type{
        text-align: end;
    }
}
