.footer {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
    p{
        font-size: .5rem;
        color: #cbc5fc;
        font-family: 'Bebas Neue';
        letter-spacing: 1.2px;
        margin: 0;
        display: block;
    }
    // background-color: rgb(223, 223, 223);
    border-top: .5px solid rgb(221, 221, 221);
    position: relative;

    
}


.links {
    columns: 2;
    column-rule: solid #4737bb .3px;
    text-align: start;
    :first-of-type{
        text-align: end;
    }

    

    .link{
        color: #3c309c;
        width: 1.9em;
        height: 1.9em;
    }
}

.copy-right{
    position: absolute;
    right: 10px;
    bottom: 0;
}

@media (min-width: 500px) {
   .links{
    .link{
        width: 3em;
        height: 3em;
    }
   } 
}