* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header {
    padding: 1.5rem 0;
    width: 100%;
    background: rgba(34, 11, 11, 0.6);
    border-bottom: #999999 1px solid;
    position: fixed;
    z-index: 100;
}

.header-two {
    padding: 1.5rem 0;
    width: 100%;
    background: rgba(43, 35, 35, 0.9998);
    border-bottom: #999999 1px solid;
    position: fixed;
    z-index: 100;
}

.nav-list {
    display: none;
}

.nav-list-active {
    list-style-type: none;
    display: block;
    margin: 0;
    li {
        text-align: center;
        margin: 15px auto;
        list-style-type: none;
    }
    padding-top: 25vh;
    height: 100vh;
    background: rgba(34, 11, 11, 1);
}

.nav-item, .title {
    text-decoration: none;
    color: white;
}

.title {
    font-family: 'Bebas Neue';
    color:rgba(255,255,255,0.6);
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;
    letter-spacing: .5px;
}

.headTitle {
    margin: 0;
}

.florian {
    display: flex;
}


.navbar-toggle {
    position: absolute;
    right: 35px;
    cursor: pointer; 
    color: rgba(255,255,255,0.6);
    font-size: 20px;
    margin-top: 3px;
}

.active-nav-item{
    color: #333333;
}





@media (min-width: 500px) {
.header {
    display: flex;
    justify-content: center;
}

.header-two {
    display: flex;
    justify-content: center;
}

.inner {
    width: 90%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-top: 8px;
    font-size: 1.2rem;
    display: block;
    letter-spacing: 1.7px;
    transition: ease in .5s;
}

.title:hover {
    opacity: .5;
}

.florian {
    display: flex;
}

.nav-list {
    display: flex;
    margin: 0;
    list-style: none;

    li {
        margin: 0;
    }
}

.nav-item {
    color:rgba(255,255,255,0.6);

    font-size: .9rem;
    margin-right: 1.3rem;
}

.nav-item:hover{
    color: rgb(238, 139, 139)
}

.active-nav-item{
    color: rgb(238, 139, 139)
}

.navbar-toggle {
    visibility: hidden;
}
}


