.header {
    padding: 1.5rem 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border-bottom: grey 1px solid;
    
    position: fixed;
    z-index: 667;
    .navbar-toggle {
        color:rgb(107, 107, 107);
    }
    .florian {
        color:rgb(107, 107, 107);
    }
    transition: background-color .7s;
}

.header-two {
    padding: 1em 0;
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: #999999 1px solid;
    position: fixed;
    z-index: 667;
    .florian {
        color:rgb(107, 107, 107);
    }
    .navbar-toggle {
        color:rgb(107, 107, 107);
    }
    transition: background-color .7s;

}

.nav-list {
    display: none;
}

.nav-list-active {
    list-style-type: none;
    display: block;
    margin: 0;
    li {
        text-align: center;
        margin: 20px auto;
        list-style-type: none;
    }
    padding-top: 20vh;
    height: 100vh;

    .nav-item{
        color: black;
        letter-spacing: 4px;
    }
    .active-nav-item {
        color: gray;
    }
}

.nav-item, .title {
    text-decoration: none;
    
}

.title {
    font-family: 'Bebas Neue';
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;
    letter-spacing: .5px;
}

.headTitle {
    margin: 0;
}

.florian {
    display: flex;
}

.navbar-toggle {
    position: absolute;
    right: 35px;
    cursor: pointer; 
    color: black;
    font-size: 20px;
    margin-top: 3px;
}

.active-nav-item{
    color: #333333;
}





@media (min-width: 500px) {
.header {
    display: flex;
    justify-content: center;
    transition: padding .7s;
}

.header-two {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    transition: padding .7s;

    .nav-item{
        color:rgba(34, 11, 11, 0.5);
    }
}

.inner {
    width: 90%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-top: 8px;
    font-size: 1.2rem;
    display: block;
    letter-spacing: 1.7px;
    transition: ease in .5s;
}

.title:hover {
    opacity: .5;
}

.florian {
    display: flex;
}

.nav-list {
    display: flex;
    margin: 0;
    list-style: none;

    li {
        margin: 0;
    }
}

.nav-item {
    color:rgb(80, 80, 80);
    font-style: italic;
    font-size: .9rem;
    margin-right: 2em;
    letter-spacing: 3px;
}

.nav-item:hover{
    text-decoration: overline;
}

.active-nav-item{
    text-decoration: overline;
}

.navbar-toggle {
    visibility: hidden;
}
}


